/*
!/.Xmodmap
!/.Xresources
!/.asoundrc
!/.bash_aliases
!/.bashrc
!/.emacs
!/.fonts.conf
!/.gitignore
!/.gtkrc-2.0
!/.inputrc
!/.irbrc
!/.profile
!/.xinitrc
!/.xmobarrc
!/.xmonad/xmonad.hs
!/src/dmenu-4.1.1/*
!/src/inbox.sh
!/src/mathscinet.rb
!/src/nodup.rb
!/src/translate.rb
!/src/volume.sh
!/src/git-remote-add.sh