URxvt*scrollBar: False
URxvt*font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-1
URxvt*background: #2B2B2B
URxvt*foreground: #DEDEDE

! Tango color theme a la gnome-terminal
URxvt*color0:  #000000
URxvt*color1:  #CC0000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #06989A
URxvt*color7:  #D3D7CF
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #34E2E2
URxvt*color15: #EEEEEC

Emacs.FontBackend: xft
Emacs.font: Monospace-10
Emacs.verticalScrollBars: off
Emacs.menuBar: off
Emacs.toolBar: 0
Emacs.borderWidth: 0
Emacs.internalBorder: 0

xdvi.background: White
xdvi.expertMode: 4
xdvi.Hush: on
xdvi.LinkStyle: 2
xdvi.postscript: 1
xdvi.shrinkFactor: 6
xdvi.gsAlpha: on
xdvi.watchFile: 1

xpdf.initialZoom: width
